*{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body{
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.body-container{
    min-height: 100vh;
    background-image: url("./media/05.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container{
    margin: 20px auto;
    padding:20px;
    max-width:700px;
    color: white;
    box-sizing: border-box;
    margin-bottom: 0;
    padding-bottom: 5px;
    margin-top: 0px;
    padding-top: 0px;
}

.main-heading{
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    margin: 0px auto;
    margin-bottom: 20px;
    padding: 20px; 
    width: max-content;
    backdrop-filter: blur(5px);
    background-color:rgba(0, 16, 28, 0.8);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.top{
    margin: 0px auto;
    width:100%;
    max-width: 500px;
    display:flex;
    background-color: rgba(255, 255, 255, 0.2);
    padding:10px;
    box-sizing: border-box;
    column-gap: 3px;
    border-radius: 25px;
    backdrop-filter: blur(5px);
}

.middle{
    padding:10px;
    box-sizing: border-box;
    background-color:rgba(0, 16, 28, 0.6);
    border-radius: 15px;
    margin-top: 30px;
    backdrop-filter: blur(5px);
}

.bottom{
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color:rgba(0, 16, 28, 0.6);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    padding: 10px;
}

.input-section{
    padding:20px;
    row-gap: 5px;
    display: flex;
    flex-direction: column;
}

.section-heading{
    font-size: 20px;
    text-align: center;
    font-weight: bold;

}

.section-option-area{
    padding:10px;
    display:flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    justify-content: center;
}

.section-option{
    border-radius: 10px;
    padding:20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    background-image: linear-gradient(to bottom, #001220, rgba(0,34,41,255));
    transition: all 0.3s;
    max-width: min-content;
    text-align: center;
}

.active{
    background-color:#14A943;
    background-image: none;
}

.search-box{
    padding:5px;
    border:none;
    width:clamp(250px,100%,600px);
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    font-size: 18px;
    color: white;
}

ion-icon{
    font-size: 24px;
    margin: auto 0px;
}

.submit-button{
    margin: auto 0px;
    height: max-content;
}

.time-option-area{
    column-gap: 30px!important;
}

hr{
    border-top: 1px solid rgba(255, 255, 255, 0);
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: cyan;
}

.submit-button:hover{
    color:#14A943;
    cursor: pointer;
}

